<header class="cabecalho">
    <img src="/assets/logo.png" class="logo">
    @if(!telaInicial) {
    <div class="link">
        <button>
            <img class="seta" src="assets/arrow-left.png" alt="">
            <a routerLink="/lista-contatos">Voltar</a>
        </button>
    </div>
    }
    <img [src]="bannerSrc" class="banner">
    <h1 [innerHTML]="titulo" [ngClass]="telaInicial ? 'titulo' : 'titulo-form'"></h1>
    <!-- <h1 [innerText]="titulo" class="titulo"></h1> -->

    <!-- <img src="/assets/banner.png" class="banner">
    <h1 class="titulo">Organize, <span>conecte,</span> simplifique!</h1> -->
</header>